{% extends "./base.html" %}
{% block title %} Gestion de cursos {% endblock %}
{% block body %}
{% for c in cursos %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Creditos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ c.codigo }}</th>
            <td>{{ c.nombre }}</td>
            <td> {{ c.creditos }}</td>

        </tr>

    </tbody>
</table>
{% endfor %}
{% endblock %}