<!DOCTYPE html>
<html>
<head>
    <style>
        /* Estilos específicos para impresión */
        @page { size: A4; margin: 1cm; }
        h1 { color: #2c3e50; text-align: center; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ddd; padding: 8px; }
    </style>
</head>
<body>
    {{ student }}
    <h1>Reporte de {{ student.nombre }} {{ student.apellido }}</h1>
    {{ student.email }}
    <p>Fecha de generación: {{ data }}</p>
    <table>
        <tr><th>Producto</th><th>Precio</th></tr>
        <!-- {% for item in items %}
        <tr>
            <td>{{ data.nombre }}</td>
            <td>${{ data.correo }}</td>
        </tr>
        {% endfor %} -->
    </table>
</body>
</html>
